:root {
  --img-url: url(../img/fundo-neon-city.gif);
  --bg-pst: center top;
  --rosa: #e228d8;
  --verde-azul: #02d08f;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #070d12;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--rosa);
  border-radius: 20px;
  border: 3px solid #070d12;
}

body {
  background-image: var(--img-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: var(--bg-pst);

  font-family: 'VT323', monospace;
  color: #f3f3f3;
  font-size: 18px;
  padding: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  cursor: default;
  user-select: none;
}

.cartao {
  background-image: url(../img/neve.gif);
  background-color: #070d12;
  width: 370px;
  border: 4px solid var(--rosa);
  border-radius: 10px;
  overflow: hidden;
}

.minhas-informacoes {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.minhas-informacoes .foto-perfil {
  width: 96px;
  height: 96px;

  border: 4px solid var(--verde-azul);
  border-radius: 100%;
}

.minhas-informacoes .nome {
  font-size: 28px;
}

.minhas-informacoes .cargo {
  font-size: 23px;
  font-weight: 500;
  color: #b8bbc5;
}

.minhas-informacoes .hover {
  transition: transform 0.2s ease-in;
}

.minhas-informacoes .hover:hover {
  transform: scale(1.1);
}

.conteudo {
  margin-top: 15px;
}

.conteudo .abas {
  display: flex;
}

.conteudo .abas .aba {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 7px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.conteudo .abas .aba.selecionada {
  background-color: #262626;
}

.conteudo .abas .aba:hover {
  background-color: #414141;
}

.conteudo .abas img {
  width: 30px;
}

.conteudo .informacoes-abas {
  background-color: #262626;
}

.conteudo .informacoes-abas .informacao {
  min-height: 270px;
  padding: 15px 17px;
  display: none;
}

.conteudo .informacoes-abas .informacao.scroll {
  padding: 15px 10px 15px 17px;
}

.conteudo .informacoes-abas .informacao.selecionado {
  display: block;
}

.conteudo .informacoes-abas .informacao .sub-titulo {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.conteudo .informacoes-abas .informacao .descricao {
  font-size: 20px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 5px;
}

.descricao .paragrafo {
  margin-bottom: 10px;
}

.descricao .paragrafo.espaco {
  margin: 20px 0 10px 0;
  padding-top: 20px;
  border-top: 2px dashed white;
}

.lista-conhecimentos {
  margin-left: 5px;
  list-style: circle;
  list-style-position: inside;
}

.verde-azul {
  color: var(--verde-azul);
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.redes-sociais_links {
  width: 80%;
  height: 23%;
  transition: opacity 0.3s ease-in-out, transform 0.25s ease-in-out;
}

.redes-sociais_links:hover {
  transform: scale(1.05);
}

.redes-sociais_links a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociais_links a .bloco {
  color: #f3f3f3;
  font-size: 20px;
}

.redes-sociais_links .curriculo {
  background-color: #06c185;
}

.redes-sociais_links .linkedin {
  background-color: #1d87bd;
}

.redes-sociais_links .github {
  background-color: #6e6d6d;
}